In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = 'can.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,#date+year,#country+residence,#country+origin,#affected+refugees,#affected+asylum,#affected+returned_refugees,#affected+idps,#affected+returned_idps,#affected+stateless,#affected+others,#affected+total
1,1951,Canada,Various/Unknown,168511,NaN,NaN,NaN,NaN,NaN,NaN,168511
2,1952,Canada,Various/Unknown,154828,NaN,NaN,NaN,NaN,NaN,NaN,154828
3,1953,Canada,Various/Unknown,107004,NaN,NaN,NaN,NaN,NaN,NaN,107004
4,1954,Canada,Various/Unknown,75828,NaN,NaN,NaN,NaN,NaN,NaN,75828

In [5]:
# Identify incomplete rows
df.count()

Year                                        4282
Country / territory of asylum/residence     4282
Origin                                      4282
Refugees (incl. refugee-like situations)    4115
Asylum-seekers (pending cases)              2991
Returned refugees                             43
Internally displaced persons (IDPs)            1
Returned IDPs                                  1
Stateless persons                              2
Others of concern                              1
Total Population                            4282
dtype: int64

In [6]:
# Organize the columns so they are in a more logical order
can_df_1 = df[[
    "Year", "Country / territory of asylum/residence", "Origin", "Refugees (incl. refugee-like situations)", "Total Population"]]

can_df_1.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Total Population
0,#date+year,#country+residence,#country+origin,#affected+refugees,#affected+total
1,1951,Canada,Various/Unknown,168511,168511
2,1952,Canada,Various/Unknown,154828,154828
3,1953,Canada,Various/Unknown,107004,107004
4,1954,Canada,Various/Unknown,75828,75828

In [7]:
can_df = can_df_1.iloc[1: , :]

can_df.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Total Population
1,1951,Canada,Various/Unknown,168511,168511
2,1952,Canada,Various/Unknown,154828,154828
3,1953,Canada,Various/Unknown,107004,107004
4,1954,Canada,Various/Unknown,75828,75828
5,1955,Canada,Various/Unknown,52551,52551

In [8]:
# Verify dropped rows
can_df.count()

Year                                        4281
Country / territory of asylum/residence     4281
Origin                                      4281
Refugees (incl. refugee-like situations)    4114
Total Population                            4281
dtype: int64

In [9]:
# The Amount column is the wrong data type. It should be numeric.
can_df.dtypes

Year                                        object
Country / territory of asylum/residence     object
Origin                                      object
Refugees (incl. refugee-like situations)    object
Total Population                            object
dtype: object

In [10]:
# Remove the rows with missing values 
#can_df = can_df.loc[can_df['Refugees (incl. refugee-like situations)'] != "*"]
can_df=can_df.replace('*', 0)

In [11]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
can_df['Year'] = pd.to_numeric(can_df['Year'])
can_df['Refugees (incl. refugee-like situations)'] = pd.to_numeric(can_df['Refugees (incl. refugee-like situations)'])
can_df['Total Population'] = pd.to_numeric(can_df['Total Population'])

In [12]:
# Verify that the Amount column datatype has been made numeric
can_df['Year'].dtype
can_df['Refugees (incl. refugee-like situations)'].dtype
can_df['Total Population'].dtype

dtype('int64')

In [13]:
can_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4281 entries, 1 to 4281
Data columns (total 5 columns):
Year                                        4281 non-null int64
Country / territory of asylum/residence     4281 non-null object
Origin                                      4281 non-null object
Refugees (incl. refugee-like situations)    4114 non-null float64
Total Population                            4281 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 167.3+ KB

In [14]:
# Rename columns for readability
can_df_clean = can_df.rename(columns={"Country / territory of asylum/residence": "Country of residence",
                                                "Refugees (incl. refugee-like situations)": "Refugees",
                                                                                                })

can_df_clean.head()

   Year Country of residence           Origin  Refugees  Total Population
1  1951               Canada  Various/Unknown  168511.0            168511
2  1952               Canada  Various/Unknown  154828.0            154828
3  1953               Canada  Various/Unknown  107004.0            107004
4  1954               Canada  Various/Unknown   75828.0             75828
5  1955               Canada  Various/Unknown   52551.0             52551

In [17]:
usa_2000_15=usa_new.loc[(usa_new["Year"]>=2000) & (usa_new["Year"]<=2015),:]
usa_2000_15.head()

NameError: name 'usa_new' is not defined

In [18]:
# Export file as a CSV, without the Pandas index, but with the header
can_df_clean_2000_15.to_csv("can_cleaned_final.csv", index=False, header=True)

PermissionError: [Errno 13] Permission denied: 'can_cleaned_final.csv'